# Part 1 Factors

**Read in the data set oranges.csv using the default settings of read.csv(). Save to the variable orange.dat**

In [1]:
# Your code here
orange.dat <- read.csv("orange.csv")

After you read in a data set, your next step should always be to inspect the
data set using str(). **Print out the results of running str() on your data set. What information is provided?**

In [2]:
# Your code here
str(orange.dat)
orange.dat$Tree

'data.frame':	35 obs. of  4 variables:
 $ Tree         : int  1 1 1 1 1 1 1 2 2 2 ...
 $ age          : int  118 484 664 1004 1231 1372 1582 118 484 664 ...
 $ circumference: int  30 58 87 115 120 142 145 33 69 111 ...
 $ Season       : int  1 1 2 2 1 2 1 1 1 2 ...

 [1] 1 1 1 1 1 1 1 2 2 2 2 2 2 2 3 3 3 3 3 3 3 4 4 4 4 4 4 4 5 5 5 5 5 5 5

In [ ]:
orange.dat$

The column names, data types, and number of observations are given.

What were the data types of Tree and season? **Change these vectors to type factor using as.factor().**

In [3]:
# Your code here
orange.dat$Season <- as.factor(orange.dat$Season)
orange.dat$Tree <- as.factor(orange.dat$Tree)

They are of type int, but should be factors.

**Add a new column named TreeID that is the Tree factor plus "Tree".**
For example, "Tree1".

In [4]:
# Your code here
orange.dat$TreeID <- paste("Tree", orange.dat$Tree)
orange.dat

   Tree age  circumference Season TreeID
1  1     118  30           1      Tree 1
2  1     484  58           1      Tree 1
3  1     664  87           2      Tree 1
4  1    1004 115           2      Tree 1
5  1    1231 120           1      Tree 1
6  1    1372 142           2      Tree 1
7  1    1582 145           1      Tree 1
8  2     118  33           1      Tree 2
9  2     484  69           1      Tree 2
10 2     664 111           2      Tree 2
11 2    1004 156           2      Tree 2
12 2    1231 172           1      Tree 2
13 2    1372 203           2      Tree 2
14 2    1582 203           1      Tree 2
15 3     118  30           1      Tree 3
16 3     484  51           1      Tree 3
17 3     664  75           2      Tree 3
18 3    1004 108           2      Tree 3
19 3    1231 115           1      Tree 3
20 3    1372 139           2      Tree 3
21 3    1582 140           1      Tree 3
22 4     118  32           1      Tree 4
23 4     484  62           1      Tree 4
24 4     664 112           2      Tree 4
25 4    1004 167           2      Tree 4
26 4    1231 179           1      Tree 4
27 4    1372 209           2      Tree 4
28 4    1582 214           1      Tree 4
29 5     118  30           1      Tree 5
30 5     484  49           1      Tree 5
31 5     664  81           2      Tree 5
32 5    1004 125           2      Tree 5
33 5    1231 142           1      Tree 5
34 5    1372 174           2      Tree 5
35 5    1582 177           1      Tree 5

Try to convert TreeID to a numeric using as.numeric(). Then try converting
TreeID first to a factor and then to numeric.**What does this tell you about how factors are represented in R?**

In [5]:
# Your code here
# as.numeric(orange.data$TreeID)
as.numeric(as.factor(orange.dat$TreeID))

 [1] 1 1 1 1 1 1 1 2 2 2 2 2 2 2 3 3 3 3 3 3 3 4 4 4 4 4 4 4 5 5 5 5 5 5 5

Factors are not treated in the same way as characters.

Use the function model.matrix to construct a design matrix for a model 
that regresses circumference on age, tree, and season. 
**Create both parameterizions discussed using model.matrix(\~formula) and model.matrix(~formula-1). Print both matrices out and interpret both design matrices. What does the intercept term represent?**

In [6]:
# Your code here
model.matrix(~age + Tree + Season, data=orange.dat)

model.matrix(~age + Tree + Season - 1, data=orange.dat)

   (Intercept) age  Tree2 Tree3 Tree4 Tree5 Season2
1  1            118 0     0     0     0     0
2  1            484 0     0     0     0     0
3  1            664 0     0     0     0     1
4  1           1004 0     0     0     0     1
5  1           1231 0     0     0     0     0
6  1           1372 0     0     0     0     1
7  1           1582 0     0     0     0     0
8  1            118 1     0     0     0     0
9  1            484 1     0     0     0     0
10 1            664 1     0     0     0     1
11 1           1004 1     0     0     0     1
12 1           1231 1     0     0     0     0
13 1           1372 1     0     0     0     1
14 1           1582 1     0     0     0     0
15 1            118 0     1     0     0     0
16 1            484 0     1     0     0     0
17 1            664 0     1     0     0     1
18 1           1004 0     1     0     0     1
19 1           1231 0     1     0     0     0
20 1           1372 0     1     0     0     1
21 1           1582 0     1     0     0     0
22 1            118 0     0     1     0     0
23 1            484 0     0     1     0     0
24 1            664 0     0     1     0     1
25 1           1004 0     0     1     0     1
26 1           1231 0     0     1     0     0
27 1           1372 0     0     1     0     1
28 1           1582 0     0     1     0     0
29 1            118 0     0     0     1     0
30 1            484 0     0     0     1     0
31 1            664 0     0     0     1     1
32 1           1004 0     0     0     1     1
33 1           1231 0     0     0     1     0
34 1           1372 0     0     0     1     1
35 1           1582 0     0     0     1     0

   age  Tree1 Tree2 Tree3 Tree4 Tree5 Season2
1   118 1     0     0     0     0     0
2   484 1     0     0     0     0     0
3   664 1     0     0     0     0     1
4  1004 1     0     0     0     0     1
5  1231 1     0     0     0     0     0
6  1372 1     0     0     0     0     1
7  1582 1     0     0     0     0     0
8   118 0     1     0     0     0     0
9   484 0     1     0     0     0     0
10  664 0     1     0     0     0     1
11 1004 0     1     0     0     0     1
12 1231 0     1     0     0     0     0
13 1372 0     1     0     0     0     1
14 1582 0     1     0     0     0     0
15  118 0     0     1     0     0     0
16  484 0     0     1     0     0     0
17  664 0     0     1     0     0     1
18 1004 0     0     1     0     0     1
19 1231 0     0     1     0     0     0
20 1372 0     0     1     0     0     1
21 1582 0     0     1     0     0     0
22  118 0     0     0     1     0     0
23  484 0     0     0     1     0     0
24  664 0     0     0     1     0     1
25 1004 0     0     0     1     0     1
26 1231 0     0     0     1     0     0
27 1372 0     0     0     1     0     1
28 1582 0     0     0     1     0     0
29  118 0     0     0     0     1     0
30  484 0     0     0     0     1     0
31  664 0     0     0     0     1     1
32 1004 0     0     0     0     1     1
33 1231 0     0     0     0     1     0
34 1372 0     0     0     0     1     1
35 1582 0     0     0     0     1     0

# Part 2 Hypothesis Testing

Using the orange data set, create two variables Tree1 and Tree2, with the circumferences
from each.

In [ ]:
# Your code here

Test for the significance of the difference between both groups using a two-sample
z-test. **Calculate the z statistic and then the p-value using pnorm(). State the null hypothesis and whether or not you reject it. (1 pt)**

In [ ]:
# Your code here

Do a t test instead of a z test using t.test(). **Compare the p-value you obtained from the z test with the t-test and explain why they are different. Which test is more appropriate?(2 pt)**

In [ ]:
# Your code here

Now we will use the functions lm and aov(). These function use a similar
modeling syntax as the sommer function. **Using the orange data set, fit a model regressing circumference on Tree using both functions. Print the summary() of both fits and compare the outputs. What is the null hypothesis being tested and do you reject it? What does rejecting
the null mean in this context? (2 pt)**

In [ ]:
# Your code here

Using lm, regress circumference against Tree, Season, and age.
**Print a summary of the model and interpret the model results.(2 pts)**

In [ ]:
# Your code here

**Using lm, fit a reduced model without age and season. Print the model summary.(1 pt)**

In [ ]:
# Your code here

**Compare the reduced model to the full model. What is the null hypothesis being tested? Calculate whether the full model is significantly different than the reduced model.(2 pts)**

In [ ]:
# Your code here